@model VL.ItsMe1110.Models.BlogDetailModel

<div class="ParagraphOutline">
    <div class="LeadingSpace"></div>
    <div class="ParagraphHead">
        @Model.Title
    </div>
    <div class="ParagraphBody">
        @Html.RawText(Model.Content)
    </div>
</div>